body{
  background-color: lightgreen;
}
h1{
  padding-left: 550px;
  font-weight: bold;
  font-size: 50px;
}
p{
  padding-left: 250px; 
  font-weight: bold;
  margin-bottom: 30px;
}

div{
  border: 2px solid green;
  background-color: rgb(141, 215, 141);
  width: 1000px;
  margin: auto;
  box-shadow: 10px 10px rgb(79, 153, 79);
  margin-bottom: 50px;
}
h3{
  text-align: center;
  font-weight: bold;
  color: aliceblue;
  font-size: 20px;
}

ul li{
  padding-bottom: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}

span{
  font-weight: bold;
}